<app-box-loader *ngIf="loading"></app-box-loader>
<div *ngIf="!loading">
    <div>
        <div class="block header pad-v-12 pad-h-20 box-divider">
            <div class="column content">
                <div class="header-container">
                    <span class="header">
                        {{'histories'|translate}} ({{total}})
                    </span>
                </div>
            </div>
            <div class="column">
                <button (click)="refresh()" nz-button class="btn-custom">
                    <i nz-icon nzType="sync" nzTheme="outline"></i>
                    {{'refresh'|translate}}
                </button>
            </div>
        </div>
        <div class="block">
            <nz-table [nzShowTotal]="rangeTemplate" [nzFrontPagination]="false" (nzPageIndexChange)="pageIndexChanged($event)" (nzPageSizeChange)="pageSizeChanged($event)" #basicTable nzShowSizeChanger [nzLoading]="loading" [nzLoadingIndicator]="indicatorTemplate"
                [nzTotal]="total" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzData]="items" [nzPageSizeOptions]="pageSizeOptions">
                <thead>
                    <tr class="v-align-top advanced-table-filter">
                        <th>{{'date'|translate}}</th>
                        <!-- <th>{{'admin'|translate}}</th> -->
                        <th>{{'action'|translate}}</th>
                        <th>{{'item'|translate}}</th>
                        <th>{{'target'|translate}}</th>
                        <th>{{'note'|translate}}</th>
                        <!-- <th>
                            <div class="ta-right">
                                {{'action'|translate}}
                            </div>
                            <div>
                                <button (click)="search()" nz-button class="btn-custom">
                                    <i nz-icon nzType="search"></i>
                                    {{'search'|translate}}
                                </button>
                            </div>
                        </th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td>{{ data.issueDate|date:'medium':'+0000' }}</td>
                        <!-- <td></td> -->
                        <td>{{ (data.action == 2 ? 'checkout' : 'checkin')|translate }}</td>
                        <td>{{ data.itemName }}</td>
                        <td>{{ data.targetName }}</td>
                        <td>{{ data.note }}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <ng-template #indicatorTemplate><i nz-icon nzType="loading" style="font-size: 28px;"></i> </ng-template>
    <ng-template #rangeTemplate let-range="range" let-total> {{ range[0] }} - {{ range[1] }} of {{ total }} {{'items'|translate}} </ng-template>
</div>