@model Module.Library.Data.LibraryMemberAcceptanceModel

<!doctype html>

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <p>Dear @Model.Name, <br><br> Your libary member request has been accepted.</p>
</body>
</html>