@model Module.Core.Data.ResetPasswordEmailModel

<!doctype html>

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Reset Password</title>
</head>
<body>
    <div class="container">
        <p>Please follow the <a href="@Model.Link">link</a> to reset your password.</p>
        <p>Link: @Model.Link</p>
    </div>
</body>
</html>