<div>
    <div class="box" style="margin: 0; box-shadow: none;">
        <div class="block header pad-v-12 pad-h-20 box-divider">
            <div class=" content">
                <div class="header-container">
                    <span class="header">
                        {{'group.checkout.by.batch.schedule'|translate}}
                    </span>
                </div>
            </div>
        </div>
        <div class="block pad-v-12 box-divider">
            <form nz-form [formGroup]="form">
                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="8">
                        <app-select-control mandatory="true" #batchSelect label="batch.schedule"
                            [formControl]="form.controls.batchSchedule">
                        </app-select-control>
                    </div>
                </div>
            </form>
        </div>
        <div class="block footer pad-v-12 pad-h-20">
            <div class="column">
                <button (click)="close()" nz-button class="btn-custom">{{'cancel'|translate}}</button>
                <button (click)="checkout()" nzType="primary" nz-button class="btn-custom">{{'checkout'|translate}}</button>
            </div>
        </div>
    </div>
    <ng-template #indicatorTemplate><i nz-icon nzType="loading" style="font-size: 28px;"></i> </ng-template>
</div>