<app-box-loader *ngIf="loading"></app-box-loader>
<div *ngIf="!loading">
    <div  nz-row [nzGutter]="8" style="margin-bottom: 8px;">
        <div *ngIf="userHasRole([1,4,8,9])" nz-col [nzSpan]="8">
            <nz-card nzTitle="{{'dashboard.reorder.alert'|translate}}">
                <nz-table *ngIf="inventory.reorderAlert" #basicTable [nzData]="inventory.reorderAlert" nzShowPagination="false">
                    <thead>
                        <tr>
                            <th>{{'dashboard.ra.item'|translate}}</th>
                            <th>{{'dashboard.ra.available'|translate}}</th>
                            <th>{{'dashboard.ra.reorder.level'|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of basicTable.data">
                            <td>
                                <a (click)="goToReorderAlert(data)" >{{ data.item }}</a>
                            </td>
                            <td>{{ data.available }}</td>
                            <td>{{ data.minQuantity }}</td>
                        </tr>
                    </tbody>
                </nz-table>
                <div *ngIf="!inventory.reorderAlert">{{'no.data'|translate}}</div>
            </nz-card>
        </div>

        <div  *ngIf="userHasRole([1,4,8,9])" nz-col [nzSpan]="8">
            <nz-card nzTitle="{{'current.stock'|translate}}">
                <div class="dashboard-item"><span><a (click)="goTo('/admin/asset')">{{'assets'|translate}}</a> :                  </span><span>{{inventory.currentStock.asset}}     </span></div>
                <div class="dashboard-item"><span><a (click)="goTo('/admin/asset/licenses')">{{'license'|translate}}</a> :        </span><span>{{inventory.currentStock.license}}   </span></div>
                <div class="dashboard-item"><span><a (click)="goTo('/admin/asset/consumables')">{{'consumables'|translate}}</a> : </span><span>{{inventory.currentStock.consumable}}</span></div>
            </nz-card>
        </div>

    </div>

    <div nz-row [nzGutter]="8" style="margin-bottom: 8px;">
        <div *ngIf="userHasRole([1,5,8,9])"  nz-col [nzSpan]="8">


            <nz-card nzTitle="{{'hostel.management'|translate}}">


                <div class="dashboard-item"><span>{{'total.room'|translate}} :              </span><span>{{hostel.totalRoom}}               </span></div>
                <div class="dashboard-item"><span>{{'total.seat'|translate}} :              </span><span>{{hostel.totalSeat}}               </span></div>
                <div class="dashboard-item"><span>{{'free.room'|translate}} :               </span><span>{{hostel.freeRoom}}                </span></div>
                <div class="dashboard-item"><span>{{'free.seat'|translate}} :               </span><span>{{hostel.freeSeat}}                </span></div>
                <div class="dashboard-item"><span>{{'booking.request'|translate}} :         </span><span>{{hostel.bookingRequest}}          </span></div>
                <div class="dashboard-item"><span>{{'todays.checkin'|translate}} :          </span><span>{{hostel.todaysCheckin}}           </span></div>
                <div class="dashboard-item"><span>{{'todays.checkout'|translate}} :         </span><span>{{hostel.todaysCheckout}}          </span></div>
                <div class="dashboard-item"><span>{{'todays.checkoutable'|translate}} :     </span><span>{{hostel.todaysCheckoutable}}      </span></div>
                <div class="dashboard-item"><span>{{'required.room.and.seat'|translate}} :  </span><span>{{hostel.requiredRoomAndSeat}}     </span></div>
                <div class="dashboard-item"><span>{{'allocated.room.and.seat'|translate}} : </span><span>{{hostel.allocatedRoomAndSeat}}    </span></div>
                <div class="dashboard-item"><span>{{'checkin.and.checkout'|translate}} :    </span><span>{{hostel.checkinAndCheckout}}      </span></div>
            </nz-card>
        </div>
        <div *ngIf="userHasRole([1,2,8,9])"  nz-col [nzSpan]="8">
            <nz-card nzTitle="{{'library.management'|translate}}">
                <div class="dashboard-item"><span>{{'total.issued'|translate}} : </span><span>{{library.totalIssued}}    </span> </div>
                <div class="dashboard-item"><span>{{'todays.issue'|translate}} : </span><span>{{library.todaysIssue}}    </span> </div>
                <div class="dashboard-item"><span>{{'pending'|translate}} :      </span><span>{{library.pending}}        </span> </div>
                <div class="dashboard-item"><span>{{'todays.return'|translate}} :</span><span>{{library.todaysReturn}}   </span> </div>
                <div class="dashboard-item"><span>{{'return.pending'|translate}}:</span><span>{{library.returnPending}}  </span> </div>
                <div class="dashboard-item"><span>{{'total.member'|translate}} : </span><span>{{library.totalMember}}    </span> </div>
                <div class="dashboard-item"><span>{{'total.item'|translate}} :   </span><span>{{library.totalItem}}      </span> </div>
                <div class="dashboard-item"><span>{{'new.item'|translate}} :     </span><span>{{library.newItem}}        </span> </div>
            </nz-card>
        </div>
        <div *ngIf="userHasRole([1,6,7,8,9])"  nz-col [nzSpan]="8">
            <nz-card nzTitle="{{'training.management'|translate}}">
                <div class="dashboard-item"><span>{{'running.courses'|translate}} :         </span> <span>{{training.runningCourses}}        </span> </div>
                <div class="dashboard-item"><span>{{'running.batches'|translate}} :         </span> <span>{{training.runningBatches}}        </span> </div>
                <div class="dashboard-item"><span>{{'total.participants'|translate}} :      </span> <span>{{training.totalParticipants}}     </span> </div>
                <div class="dashboard-item"><span>{{'todays.classes'|translate}} :          </span> <span>{{training.todaysClasses}}         </span> </div>
                <div class="dashboard-item"><span>{{'todays.exams'|translate}} :            </span> <span>{{training.todaysExams}}           </span> </div>
                <div class="dashboard-item"><span>{{'todays.resources.persons'|translate}} :</span> <span>{{training.todaysResourcesPersons}}</span> </div>
            </nz-card>
        </div>
    </div>

 
</div>