<nz-form-item class="field-container">
    <div>
        <label [class.required]="required">{{label|translate }}</label>
    </div>
    <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
        <nz-select [formControl]="formControl" class="btn-custom" [nzLoading]="loading" nzShowSearch (ngModelChange)="onValueChange($event)"
            nzAllowClear [nzPlaceHolder]="'select.x0'|translate:{x0: label|translate|lowercase}">
            <nz-option *ngFor="let p of items" [nzLabel]="p[labelKey]" [nzValue]="p.id">
            </nz-option>
        </nz-select>
    </nz-form-control>
</nz-form-item>
<ng-template #errorTemplate let-control>
    {{control?.errors?.message}}
</ng-template>