<app-box-loader *ngIf="loading"></app-box-loader>
<div *ngIf="!loading">
    <div>
        <div class="block">
            <nz-table #basicTable [nzData]="item.seatList">
                <thead>
                    <tr class="v-align-top advanced-table-filter">
                        <th>{{'name'|translate}}</th>
                        <th>{{'user'|translate}}</th>
                        <th>{{'asset'|translate}}</th>
                        <th>{{'date'|translate}}</th>
                        <th class="ta-right">{{'action'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of item.seatList">
                        <td>{{ seatName(data.name) }}</td>
                        <td>{{ data.issuedToUser ? data.issuedToUser.fullName:''}}</td>
                        <td>{{ data.issuedToAsset?.name}}</td>
                        <td>{{ data.issueDate | date }}</td>
                        <td class="ta-right">
                            <ng-container *checkPermission="['license.manage', 'license.seat.checkin']">
                                <button class="btn-custom" *ngIf="(data.issuedToUserId || data.issuedToAsset)"
                                    (click)="checkin(data.id)" nz-button
                                    nzType="primary">{{'return'|translate}}</button>
                            </ng-container>
                            <ng-container *checkPermission="['license.manage', 'license.seat.checkout']">
                                <button class="btn-custom" *ngIf="!(data.issuedToUserId || data.issuedToAsset)"
                                    (click)="checkout(data.id)" nz-button
                                    nzType="default">{{'issue'|translate}}</button>
                                <button class="btn-custom" *ngIf="!(data.issuedToUserId || data.issuedToAsset)"
                                    (click)="delete(data.id)" nz-button nzType="default"
                                    nzDanger>{{'delete'|translate}}</button>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>