<app-box-loader *ngIf="loading"></app-box-loader>

<div class="box" [style.display]="loading ? 'none' : ''">

    <div class="block pad-v-12 pad-h-20 box-divider">
        <div class="content">
            <div class="header-container">
                <span class="header">
                    <span *ngIf="mode=='add'">
                        {{ 'create.a.x0'|translate:{x0: 'requisition'|translate|lowercase} }}
                    </span>
                    <span *ngIf="mode=='edit'">
                        {{ 'update.a.x0'|translate:{x0: 'requisition'|translate|lowercase} }}
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="block bg-offset pad-t-20 pad-b-10 box-divider">
        <div class="content">
            <form nz-form [formGroup]="form">
                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'title'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <input type="text" nz-input formControlName="title"
                                    placeholder="{{'title'|translate}}" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="8">
                        <app-select-control #userSelect label="approver.employee" labelKey="fullName"
                            [formControl]="form.controls.currentApprover">
                        </app-select-control>
                    </div>
                    <div nz-col [nzSpan]="8">
                        <app-select-control #batchSelect label="requisition.batch"
                            [formControl]="form.controls.batchSchedule">
                        </app-select-control>
                    </div>
                </div>
            </form>
        </div>

        <div nz-row [nzGutter]="24" class="field-container">
            <div nz-col [nzSpan]="24" style="margin: 10px 0">
                <span class="title-text">
                    {{'assets'|translate|uppercase}}
                </span>
            </div>
        </div>
    
        <div nz-row [nzGutter]="24" class="field-container">
            <div nz-col [nzSpan]="24">
                <nz-table #basicTable nzShowPagination='false' [nzData]="items">
                    <thead>
                        <tr class="v-align-top advanced-table-filter">
                            <th>{{'name'|translate}}</th>
                            <th>{{'type'|translate}}</th>
                            <th>{{'quantity'|translate}}</th>
                            <th *ngIf="data.isInventoryManager">{{'available'|translate}}</th>
                            <th>{{'comment'|translate}}</th>
                            <th class="ta-right">
                                <div>{{'action'|translate}}</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of basicTable.data; let i = index">
                            <td>{{ data.name }}</td>
                            <td>{{ data.type.name }}</td>
                            <td>
                                <span *ngIf="data.type.id == 1">{{data.quantity}}</span>
                                <input (input)="quantityChanged($event, data)" *ngIf="data.type.id != 1" type="number" [(ngModel)]="data.quantity" nz-input />
                            </td>
                            <td *ngIf="data.isInventoryManager">{{ data.available }}</td>
                            <td>
                                <textarea nz-input [(ngModel)]="data.comment">
                                </textarea>
                            </td>
                            <td class="action-column fit-cell">
                                <button nz-button (click)="deleteItem(i, data)"
                                    class="btn-custom">{{'delete'|translate}}</button>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    
        <div nz-row [nzGutter]="24" class="field-container">
            <div nz-col [nzSpan]="24" style="margin: 10px 0">
                <button (click)="addAsset()" nz-button class="btn-custom">
                    {{'add.asset'|translate }}
                </button>
            </div>
        </div>

    </div>

    <div class="block footer pad-v-12 pad-h-20 box-divider">
        <div class="column">
            <button (click)="cancel()" nz-button class="btn-custom">
                {{'cancel'|translate}}
            </button>
            <button [nzLoading]="submitting" (click)="submit()" nz-button class="btn-custom" nzType="primary">
                {{submitButtonText|translate}}
            </button>
        </div>
    </div>
</div>

<ng-template #errorTemplate let-control>
    {{control?.errors?.message}}
</ng-template>

<ng-template #modalFooter>
    <div class="pad-v-12 pad-h-20">
        <button (click)="closeModal()" nz-button class="btn-custom">{{'cancel'|translate}}</button>
        <button (click)="sendItemFromModal()" nzType="primary" nz-button class="btn-custom">{{'send'|translate}}</button>
    </div>
</ng-template>