<div class="login-form">
    <form nz-form [formGroup]="form">
        <div class="logo">
            <img height="100" src="../../../../assets/images/logo.jpg" />
            <h1 align="center">{{'site_name'|translate}}</h1>
        </div>
        <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                <nz-input-group nzPrefixIcon="user">
                    <input type="email" nz-input formControlName="email" placeholder="{{'email'|translate}}" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <button [nzLoading]="submitting" (click)="submit()" nz-button class="login-form-button"
                    [nzType]="'primary'">{{'forgot.password'|translate}}</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>

<ng-template #errorTemplate let-control>
    {{control?.errors?.message}}
</ng-template>