{
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft": "Warning",
            "Microsoft.Hosting.Lifetime": "Information"
        }
    },
    "AllowedHosts": "*",
    "ConnectionStrings": {
        "Default": "Data Source=localhost,1433;Initial Catalog=OTMS;Trusted_Connection=false;Integrated Security=false;MultipleActiveResultSets=True;User ID=sa;Password=Phpplateform#1"
    },
    "JwtTokenOptions": {
        "SecretKey": "OTMS_Super_Duper_Secret_Key",
        "Issuer": "OTMSServer",
        "Audience": "http://localhost:6005/"
    },
    "AesOptions": {
        "Key": "AAECAwQFBgcICQoLDA0ODw==",
        "Secret": "HR$2pIjHR$2pIj12"
    }
}