<app-box-loader *ngIf="loading"></app-box-loader>

<div *ngIf="!loading">
    <div>
        <div class="block header pad-v-12 pad-h-20 box-divider">
            <div class="column content">
                <div class="header-container">
                    <span class="header">
                        {{'total.mark'|translate}}
                    </span>
                </div>
            </div>
            <div class="column">
                <button (click)="submit()" nzType="primary" nz-button class="btn-custom">
                    {{'update'|translate}}
                </button>
                <button (click)="refresh()" nz-button class="btn-custom">
                    {{'refresh'|translate}}
                </button>
            </div>
        </div>
        <div class="block">
            <nz-table #basicTable [nzLoading]="loading" [nzLoadingIndicator]="indicatorTemplate" [nzTotal]="total" [nzData]="items" nzShowPagination="false" [nzPageSizeOptions]="pageSizeOptions">
                <thead>
                    <tr class="v-align-top advanced-table-filter">
                        <th>{{'name'|translate}}</th>
                        <ng-container *ngIf="items && items.length > 0">
                            <th *ngFor="let m of items[0].evaluationMethods">{{ m.name }}</th>
                        </ng-container>
                        <th>{{'total'|translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td>{{ data.participantName }}</td>
                        <td *ngFor="let m of data.evaluationMethods">
                            <input [value]="m.mark" (input)="onMarkChanged(data)" [(ngModel)]="m.mark" type="number" nz-input placeholder="{{'mark'|translate}}" />
                        </td>
                        <td>{{ data.totalMark }}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <ng-template #indicatorTemplate><i nz-icon nzType="loading" style="font-size: 28px;"></i> </ng-template>
</div>