<app-box-loader *ngIf="loading"></app-box-loader>
<div *ngIf="!loading">
    <div class="box">
        <div class="block header pad-v-12 pad-h-20 box-divider">
            <div class="column content">
                <div class="header-container">
                    <span class="header">
                        {{'assets'|translate}} ({{total|bangla}})
                    </span>
                </div>
            </div>
            <div class="column">
                <button *checkPermission="['asset.manage', 'asset.create']" (click)="add()" nz-button
                    class="btn-custom">
                    <i nz-icon nzType="plus" nzTheme="outline"></i>
                    {{'new'|translate}}
                </button>
                <button (click)="refresh()" nz-button class="btn-custom">
                    <i nz-icon nzType="sync" nzTheme="outline"></i>
                    {{'refresh'|translate}}
                </button>
            </div>
        </div>
        <div class="block">
            <nz-table [nzShowTotal]="rangeTemplate" [nzFrontPagination]="false"
                (nzPageIndexChange)="pageIndexChanged($event)" (nzPageSizeChange)="pageSizeChanged($event)" #basicTable
                nzShowSizeChanger [nzLoading]="loading" [nzLoadingIndicator]="indicatorTemplate" [nzTotal]="total"
                [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzData]="items" [nzPageSizeOptions]="pageSizeOptions"
                nzTableLayout="fixed" [nzScroll]="{ x: '100%' }">
                <thead>
                    <tr class="v-align-top advanced-table-filter">
                        <th></th>
                        <th>
                            {{'order.name'|translate}}
                            <input [(ngModel)]="name" nz-input />
                        </th>
                        <th>
                            {{'asset.model.name'|translate}}
                            <input [(ngModel)]="assetModel" nz-input />
                        </th>

                        <th>
                            {{'asset.tag'|translate}}
                            <input [(ngModel)]="assetTag" nz-input />
                        </th>

                        <th>
                            {{'category'|translate}}

                            <nz-select [(ngModel)]="categoryId" class="btn-custom" nzShowSearch nzAllowClear
                                [nzPlaceHolder]="'select'|translate">
                                <nz-option *ngFor="let p of categories" [nzLabel]="p.name" [nzValue]="p.id">
                                </nz-option>
                            </nz-select>


                        </th>
                        <th>{{'purchase.cost'|translate}}</th>
                        <th>{{'status'|translate}}</th>
                        <th>{{'location'|translate}}</th>

                        <th class="ta-right">
                            <div>
                                {{'action'|translate}}
                            </div>
                            <div>
                                <button (click)="search()" nz-button class="btn-custom">
                                    <i nz-icon nzType="search"></i>
                                    {{'search'|translate}}
                                </button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td class="fit-cell">
                            <nz-avatar nzSrc="{{serverUrl + '/' + data.photo }}" *ngIf="data.photo" nzSize="large">
                            </nz-avatar>
                            <nz-avatar *ngIf="!data.photo" nzSize="large" nzIcon="user"></nz-avatar>
                        </td>
                        <td>{{ data.name }}</td>
                        <td>{{ data.assetModel.name }}</td>
                        <td><a (click)="view(data)">{{ data.assetTag }}</a></td>

                        <td>{{ data.category.name }}</td>
                        <!-- <td>{{ data.modelNo }}</td> -->
                        <td>{{ data.purchaseCost|bangla }}</td>
                        <td>{{ data.status?.name|translate }}</td>
                        <td>{{ data.location?.name }}</td>

                        <td class="action-column fit-cell">
                            <app-table-actions [data]="data" [buttons]="buttons"></app-table-actions>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <ng-template #indicatorTemplate><i nz-icon nzType="loading" style="font-size: 28px;"></i> </ng-template>
    <ng-template #rangeTemplate let-range="range" let-total> {{ range[0] }} - {{ range[1] }} of {{ total }}
        {{'items'|translate}} </ng-template>
</div>