<app-box-loader *ngIf="loading"></app-box-loader>

<div class="box" [style.display]="loading ? 'none' : ''">
    <div class="block pad-v-12 pad-h-20 box-divider">
        <div class="content">
            <div class="header-container">
                <span class="header">
                    <span *ngIf="mode=='add'">
                        {{ 'create.a.x0'|translate:{x0: 'module'|translate|lowercase} }}
                    </span>
                    <span *ngIf="mode=='edit'">
                        {{ 'update.a.x0'|translate:{x0: 'module'|translate|lowercase} }}
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="block bg-offset pad-t-20 pad-b-10 box-divider">
        <div class="content">
            <form nz-form [formGroup]="form">

                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'name'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <input type="text" nz-input formControlName="name" placeholder="{{'name'|translate}}" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="8">
                        <app-select-control mandatory="true" #directorSelect label="director" labelKey="fullName" [formControl]="form.controls.director">
                        </app-select-control>
                    </div>
                </div>

                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'duration'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <input readonly type="text" nz-input formControlName="duration"
                                    placeholder="{{'duration'|translate}}" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'marks'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <input readonly type="number" nz-input formControlName="marks"
                                    placeholder="{{'marks'|translate}}" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="8">
                        <app-select-control mandatory="true" #coursesSelect label="courses" [formControl]="form.controls.courses">
                        </app-select-control>
                    </div>
                </div>

                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="24">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'objectives'|translate}}</label>
                            </div>
                            <nz-form-control>
                                <ckeditor #objectiveEditorComponent [editor]="objectiveEditor"></ckeditor>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row [nzGutter]="24" class="field-container">
                    <div nz-col [nzSpan]="24" style="margin: 10px 0">
                        <span class="title-text">
                            {{'topics'|translate|uppercase}}
                        </span>
                    </div>
                </div>

                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="8">
                        <div class="field-container">
                            <button (click)="addTopics()" nz-button class="btn-custom">
                                {{'select.x0'|translate:{x0: 'topics'} }}
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div nz-row [nzGutter]="24" class="field-container">
            <div nz-col [nzSpan]="24">
                <nz-table #basicTable nzShowSizeChanger [nzLoading]="loading" [nzLoadingIndicator]="indicatorTemplate"
                    [nzData]="data.topics">
                    <thead>
                        <tr class="v-align-top advanced-table-filter">
                            <th>{{'name'|translate}}</th>
                            <th>{{'duration'|translate}}</th>
                            <th>{{'marks'|translate}}</th>
                            <th class="ta-right">
                                <div>
                                    {{'action'|translate}}
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of basicTable.data">
                            <td>{{ data.courseTopic?.name }}</td>
                            <td>
                                <input (input)="durationChanged()" type="number" [(ngModel)]="data.duration" nz-input placeholder="{{'duration'|translate}}" />
                            </td>
                            <td>
                                <input (input)="marksChanged()" type="number" [(ngModel)]="data.marks" nz-input placeholder="{{'marks'|translate}}" />
                            </td>
                            <td class="action-column fit-cell">
                                <button nz-button class="btn-custom" (click)="delete(data)">
                                    <i nz-icon nzType="delete"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>

    </div>
    <div class="block footer pad-v-12 pad-h-20 box-divider">
        <div class="column">
            <button (click)="cancel()" nz-button class="btn-custom">
                {{'cancel'|translate}}
            </button>
            <button [nzLoading]="submitting" (click)="submit()" nz-button class="btn-custom" nzType="primary">
                {{submitButtonText|translate}}
            </button>
        </div>
    </div>
</div>

<ng-template #errorTemplate let-control>
    {{control?.errors?.message}}
</ng-template>

<ng-template #indicatorTemplate><i nz-icon nzType="loading" style="font-size: 28px;"></i> </ng-template>

<ng-template #modalFooter>
    <div class="pad-v-12 pad-h-20">
        <button nz-button class="btn-custom">Cancel</button>
    </div>
</ng-template>