.login-form {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    form {
        max-width: 300px;
        width: 100%;
        .login-form-button {
            width: 100%;
        }
        .login-form-forgot {
            float: right;
        }
    }
    .logo {
        img {
            width: 100px;
        }
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}