<app-box-loader *ngIf="loading"></app-box-loader>
<div *ngIf="!loading">
    <div class="box">
        <div class="block header pad-v-12 pad-h-20 box-divider">
            <div class="column content">
                <div class="header-container">
                    <span class="header">
                        {{'license'|translate}} ({{total}})
                    </span>
                </div>
            </div>
            <div class="column">
                <button (click)="refresh()" nz-button class="btn-custom">
                    <i nz-icon nzType="sync" nzTheme="outline"></i>
                    {{'refresh'|translate}}
                </button>
            </div>
        </div>
        <div class="block">
            <nz-table [nzShowTotal]="rangeTemplate" [nzFrontPagination]="false"
                (nzPageIndexChange)="pageIndexChanged($event)" (nzPageSizeChange)="pageSizeChanged($event)"
                (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" #basicTable nzShowSizeChanger
                [nzLoading]="loading" [nzLoadingIndicator]="indicatorTemplate" [nzTotal]="total"
                [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzData]="items"
                [nzPageSizeOptions]="pageSizeOptions">
                <thead>
                    <tr class="v-align-top advanced-table-filter">
                        <th nzShowCheckbox [nzChecked]="allChecked" [nzIndeterminate]="indeterminate"
                            (nzCheckedChange)="onAllChecked($event)"></th>
                        <th>
                            {{'license'|translate}}
                            <input [(ngModel)]="Name" nz-input />
                        </th>
                        <th>
                            {{'product_key'|translate}}
                            <input [(ngModel)]="ProductKey" nz-input />
                        </th>
                        <th>
                            {{'expired_date'|translate}}
                        </th>
                        <th>
                            {{'seats'|translate}}
                        </th>
                        <th>
                            {{'available'|translate}}
                        </th>
                        <th>
                            {{'status'|translate}}
                            <div>
                                <nz-select [(ngModel)]="IsActive" class="btn-custom" nzShowSearch nzAllowClear
                                    [nzPlaceHolder]="'select.x0'|translate:{x0: 'isActive'|translate|lowercase}">
                                    <nz-option *ngFor="let p of statuses" [nzLabel]="p.name" [nzValue]="p.id">
                                    </nz-option>
                                </nz-select>
                            </div>
                        </th>
                        <th>
                            <div class="ta-right">
                                {{'action'|translate}}
                            </div>
                            <div>
                                <button (click)="search()" nz-button class="btn-custom">
                                    <i nz-icon nzType="search"></i>
                                    {{'search'|translate}}
                                </button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let data of basicTable.data">
                        <td nzShowCheckbox [nzChecked]="setOfCheckedId.has(data.id)"
                            (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                        <td>{{ data.name }}</td>
                        <td>{{ data.productKey }}</td>
                        <td>{{ data.expireDate|date }}</td>
                        <td>{{ data.seats }}</td>
                        <td>{{ data.available }}</td>
                        <td>{{ (data.isActive ? 'Active':'In Active')|translate }}</td>
                        <td></td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <ng-template #indicatorTemplate><i nz-icon nzType="loading" style="font-size: 28px;"></i> </ng-template>
    <ng-template #rangeTemplate let-range="range" let-total> {{ range[0] }}-{{ range[1] }} of {{ total }}
        {{'items'|translate}} </ng-template>
</div>