<app-box-loader *ngIf="loading"></app-box-loader>

<div *ngIf="!loading">
    <div class="box">
        <div class="block header pad-v-12 pad-h-20 box-divider">
            <div class="column content">
                <div class="header-container">
                    <span class="header">
                        {{'allocations'|translate}} ({{total|bangla}})
                    </span>
                </div>
            </div>
            <div class="column">
                <button *checkPermission="['allocation.manage', 'allocation.checkout']" (click)="batchCheckout()"
                    nzType="primary" nz-button class="btn-custom">
                    {{'batch.checkout'|translate}}
                </button>
                <button *checkPermission="['allocation.manage', 'allocation.create']" (click)="add()" nz-button
                    class="btn-custom">
                    <i nz-icon nzType="plus" nzTheme="outline"></i>
                    {{'new'|translate}}
                </button>
                <button (click)="refresh()" nz-button class="btn-custom">
                    <i nz-icon nzType="sync" nzTheme="outline"></i>
                    {{'refresh'|translate}}
                </button>
            </div>
        </div>
        <div class="block">
            <nz-table [nzShowTotal]="rangeTemplate" [nzFrontPagination]="false"
                (nzPageIndexChange)="pageIndexChanged($event)" (nzPageSizeChange)="pageSizeChanged($event)"
                (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" #basicTable nzShowSizeChanger
                [nzLoading]="loading" [nzLoadingIndicator]="indicatorTemplate" [nzTotal]="total"
                [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzData]="items"
                [nzPageSizeOptions]="pageSizeOptions" nzTableLayout="fixed" [nzScroll]="{ x: '100%' }">
                <thead>
                    <tr class="v-align-top advanced-table-filter">
                        <th>{{'checkin'|translate}}</th>
                        <th>{{'checkout'|translate}}</th>
                        <th>{{'user'|translate}}</th>
                        <th>{{'room'|translate}}</th>
                        <th>{{'bed'|translate}}</th>
                        <th>{{'days'|translate}}</th>
                        <th>{{'amount'|translate}}</th>
                        <th>{{'status'|translate}}</th>
                        <th class="ta-right">
                            <div>
                                {{'action'|translate}}
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td>{{ data.checkinDate|momentDate  }}</td>
                        <td>{{ data.checkoutDate|momentDate  }}</td>
                        <td>{{ data.user?.name }}</td>
                        <td>{{ data.room?.name }}</td>
                        <td>{{ data.bed?.name }}</td>
                        <td>{{ data.days }}</td>
                        <td>{{ data.amount }}</td>
                        <td>{{ data.status?.name }}</td>
                        <td class="action-column fit-cell">
                            <ng-container *checkPermission="['allocation.manage', 'allocation.update']">
                                <button nzType="primary" *ngIf="data.status?.id == 1" nz-button (click)="add(data)"
                                    class="btn-custom">
                                    {{'edit'|translate}}
                                </button>
                            </ng-container>
                            <ng-container *checkPermission="['allocation.manage', 'allocation.cancel']">
                                <button (click)="cancel(data)" *ngIf="data.status?.id == 1" nz-button
                                    class="btn-custom">
                                    {{'cancel'|translate}}
                                </button>
                            </ng-container>
                            <ng-container *checkPermission="['allocation.manage', 'allocation.checkout']">
                                <button nzType="primary" (click)="checkout(data)" *ngIf="data.status?.id == 2" nz-button
                                    class="btn-custom">
                                    {{'checkout'|translate}}
                                </button>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <ng-template #indicatorTemplate><i nz-icon nzType="loading" style="font-size: 28px;"></i> </ng-template>
    <ng-template #rangeTemplate let-range="range" let-total> {{ range[0] }} - {{ range[1] }} of {{ total }}
        {{'items'|translate}} </ng-template>
</div>