<nz-layout>
    <nz-header>
        <div class="row">
            <div class="col">
                <h2>{{'site_name'|translate}}</h2>

            </div>
            <div class="col justify-content-end">
                <div class="user-menu" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                    <span class="user-name">{{ userInfo.name || userInfo.email }}</span>
                    <nz-avatar [nzSrc]="userInfo.photo" nzSize="large" nzIcon="user">
                    </nz-avatar>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu style="width: 160px;">
                            <li (click)="profile()" nz-menu-item>
                                <i nz-icon nzType="profile"></i>
                                <span>{{'profile'|translate}}</span>
                            </li>
                            <li (click)="logout()" nz-menu-item>
                                <i nz-icon nzType="logout"></i>
                                <span>{{'logout'|translate}}</span>
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </div>
            </div>
        </div>
    </nz-header>
    <nz-layout class="left-layout">
        <nz-sider>
            <!-- <div class="logo"></div> -->
            <ul nz-menu nzMode="inline">
                <ng-container *ngTemplateOutlet="menuTemplate; context: { $implicit: nav }"></ng-container>
                <ng-template #menuTemplate let-nav>
                    <ng-container *ngFor="let n of nav">
                        <li (click)="onMenuItemClick(n)" *ngIf="!n.nav" nz-menu-item [nzPaddingLeft]="n.level * 24">
                            <i nz-icon nzType="{{n.icon}}"></i>
                            <span>{{n.title|translate}}</span>
                        </li>
                        <li (click)="onMenuItemClick(n)" *ngIf="n.nav" nz-submenu nzTitle="{{n.title|translate}}"
                            [nzIcon]="n.icon" [nzPaddingLeft]="n.level * 24">
                            <ul>
                                <ng-container *ngTemplateOutlet="menuTemplate; context: { $implicit: n.nav }">
                                </ng-container>
                            </ul>
                        </li>
                    </ng-container>
                </ng-template>
            </ul>
        </nz-sider>
        <nz-layout class="right-layout">
            <nz-content>
                <div class="box">
                    <nz-breadcrumb>
                        <nz-breadcrumb-item *ngFor="let b of breadcrumbs">
                            <a (click)="navigate(b)" *ngIf="!b.last">
                                <i *ngIf="b.icon" nz-icon [nzType]="b.icon"></i>
                                <span>{{b.title|translate}}</span>
                            </a>
                            <ng-container *ngIf="b.last">
                                <i *ngIf="b.icon" nz-icon [nzType]="b.icon"></i>
                                <span>{{b.title|translate}}</span>
                            </ng-container>
                        </nz-breadcrumb-item>
                    </nz-breadcrumb>
                </div>
                <div class="inner-content">
                    <router-outlet></router-outlet>
                </div>
            </nz-content>
        </nz-layout>
    </nz-layout>
</nz-layout>