<h2 class="title">লাইব্রেরী মেম্বার রেজিষ্টেশন</h2>
<div style="padding: 20px 0;" class="library-member-registration">
  <form nz-form [formGroup]="form">

    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="name">{{'Name'|translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="fullName" id="name" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="mobile">{{'Mobile'|translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input formControlName="mobile" id="mobile" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="email">{{'Email'|translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
        <input nz-input formControlName="email" id="email" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="password" nzRequired>{{'Password'|translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input type="password" id="password" formControlName="password" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="library" nzRequired>{{'Library'|translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-select id="library" formControlName="library" nzPlaceHolder="{{'Select a library'|translate}}">
          <nz-option nzValue="0" nzLabel="{{'All'|translate}}"></nz-option>
          <nz-option *ngFor="let library of libraries" [nzValue]="library.id" [nzLabel]="library.name"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="4">
        <button (click)="submit()" nz-button nzType="primary">{{'Register'|translate}}</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>