<div>
    <div class="box" style="margin: 0; box-shadow: none;">
        <div class="block header pad-v-12 pad-h-20 box-divider">
            <div class=" content">
                <div class="header-container">
                    <span class="header">
                        {{'topics'|translate}} ({{total}})
                    </span>
                </div>
            </div>
        </div>
        <div class="block">
            <nz-table [nzShowTotal]="rangeTemplate" [nzFrontPagination]="false"
                (nzPageIndexChange)="pageIndexChanged($event)" (nzPageSizeChange)="pageSizeChanged($event)" #basicTable
                nzShowSizeChanger [nzLoading]="loading" [nzLoadingIndicator]="indicatorTemplate" [nzTotal]="total"
                [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzData]="items" [nzPageSizeOptions]="pageSizeOptions">
                <thead>
                    <tr class="v-align-top advanced-table-filter">
                        <th>
                            {{'name'|translate}}
                            <input [(ngModel)]="name" nz-input />
                        </th>
                        <th class="ta-right">
                            <div>
                                {{'action'|translate}}
                            </div>
                            <div>
                                <button (click)="search()" nz-button class="btn-custom">
                                    <i nz-icon nzType="search"></i>
                                    {{'search'|translate}}
                                </button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cursor-pointer" (click)="select(data)" *ngFor="let data of basicTable.data">
                        <td>{{ data.name }}</td>
                        <td></td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <ng-template #indicatorTemplate><i nz-icon nzType="loading" style="font-size: 28px;"></i> </ng-template>
    <ng-template #rangeTemplate let-range="range" let-total> {{ range[0] }} - {{ range[1] }} of {{ total }}
        {{'items'|translate}} </ng-template>
</div>