<h2 class="title">User Registration</h2>
<div style="padding: 20px 0;" class="registration">
  <form nz-form [formGroup]="form">
    
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="name">Full name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="errorTemplate">
        <input nz-input formControlName="fullName" id="name" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="email">Email (in english)</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="errorTemplate">
        <input nz-input formControlName="email" id="email" placeholder="example@gmail.com"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="mobile">Mobile (in english)</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="errorTemplate">
        <input nz-input formControlName="mobile" id="mobile" placeholder="01xx xx xx xx"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="designation">Designation</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="errorTemplate">
        <nz-select formControlName="designation" id="designation" nzShowSearch
            nzAllowClear nzPlaceHolder="Select designation">
            <nz-option *ngFor="let p of designations" [nzLabel]="p.name" [nzValue]="p.id">
            </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="errorTemplate">
        <input nz-input type="password" id="password" formControlName="password" />
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="4">
        <button (click)="submit()" nz-button nzType="primary">Register</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<ng-template #errorTemplate let-control>
  {{control?.errors?.message}}
</ng-template>