<h2 class="title">{{'User Registration'|translate}}</h2>
<div style="padding: 20px 0;" class="registration">
  <form nz-form [formGroup]="form">

    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="name">{{'Full name'|translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="errorTemplate">
        <input nz-input formControlName="fullName" id="name" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="email">{{'Email (in english)'|translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="errorTemplate">
        <input nz-input formControlName="email" id="email" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="mobile">{{'Mobile (in english)'|translate}}
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="errorTemplate">
        <input nz-input formControlName="mobile" id="mobile" placeholder="01xx xx xx xx" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="designation">{{'Designation'|translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="errorTemplate">
        <nz-select formControlName="designation" id="designation" nzShowSearch nzAllowClear nzPlaceHolder="">
          <nz-option *ngFor="let p of designations" [nzLabel]="p.name" [nzValue]="p.id">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="password" nzRequired>{{'Password'|translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="errorTemplate">
        <input nz-input type="password" id="password" formControlName="password" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="photo">{{'Photo'|translate}}</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzErrorTip]="errorTemplate">
        <div (click)="photo.click()" class="photo-uploader cursor-pointer">
          <div class="container">
            <input id="photo" (change)="handlePhotoChange($event)" #photo type="file" style="display: none;">
            <div class="placeholder" *ngIf="!photoLoading && !photoUrl">
              <i nz-icon [nzType]="photoLoading ? 'loading' : 'plus'"></i>
              <span></span>
            </div>
            <i *ngIf="photoLoading" nz-icon nzType="loading" style="font-size: 24px;"></i>
            <img *ngIf="!photoLoading && photoUrl" [src]="photoUrl" class="photo" />
          </div>
        </div>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="4">
        <button (click)="submit()" nz-button nzType="primary">{{'Register'|translate}}</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<ng-template #errorTemplate let-control>
  {{control?.errors?.message}}
</ng-template>