<app-box-loader *ngIf="loading"></app-box-loader>

<div class="box" [style.display]="loading ? 'none' : ''">
    <div class="block pad-v-12 pad-h-20 box-divider">
        <div class="content">
            <div class="header-container">
                <span class="header">
                    <span *ngIf="mode=='add'">
                        {{ 'create.a.x0'|translate:{x0: 'topic'|translate|lowercase} }}
                    </span>
                    <span *ngIf="mode=='edit'">
                        {{ 'update.a.x0'|translate:{x0: 'topic'|translate|lowercase} }}
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="block bg-offset pad-t-20 pad-b-10 box-divider">
        <div class="content">
            <form nz-form [formGroup]="form">

                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'name'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <input type="text" nz-input formControlName="name" placeholder="{{'name'|translate}}" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col [nzSpan]="8">
                        <app-select-control mode='multiple' #resourcePersonSelect label="resource.person"
                            [formControl]="form.controls.resourcePersons">
                        </app-select-control>
                    </div>
                </div>

                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="8">
                        <app-select-control mandatory="true" #methodSelect label="training.method" [formControl]="form.controls.method">
                        </app-select-control>
                    </div>

                    <div nz-col [nzSpan]="8">
                        <app-select-control mandatory="true" #evaluationMethodSelect label="evaluation.method"
                            [formControl]="form.controls.evaluationMethod">
                        </app-select-control>
                    </div>
                </div>

                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'duration'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <input type="number" nz-input formControlName="duration" placeholder="{{'duration'|translate}}" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'marks'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <input type="number" nz-input formControlName="marks" placeholder="{{'marks'|translate}}" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="24">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'objectives'|translate}}</label>
                            </div>
                            <nz-form-control>
                                <ckeditor #objectiveEditorComponent [editor]="objectiveEditor"></ckeditor>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="24">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'outcomes'|translate}}</label>
                            </div>
                            <nz-form-control>
                                <ckeditor #outcomeEditorComponent [editor]="outcomeEditor"></ckeditor>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="24">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'course.materials'|translate}}</label>
                            </div>
                            <nz-form-control>
                                <ckeditor #materialEditorComponent [editor]="materialEditor"></ckeditor>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="24">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'course.details'|translate}}</label>
                            </div>
                            <nz-form-control>
                                <ckeditor #detailsEditorComponent [editor]="detailsEditor"></ckeditor>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="block footer pad-v-12 pad-h-20 box-divider">
        <div class="column">
            <button (click)="cancel()" nz-button class="btn-custom">
                {{'cancel'|translate}}
            </button>
            <button [nzLoading]="submitting" (click)="submit()" nz-button class="btn-custom" nzType="primary">
                {{submitButtonText|translate}}
            </button>
        </div>
    </div>
    <ng-template #errorTemplate let-control>
        {{control?.errors?.message}}
    </ng-template>
</div>