<app-box-loader *ngIf="loading"></app-box-loader>

<div *ngIf="!loading">
    <div>
        <div class="block header pad-v-12 pad-h-20 box-divider">
            <div class="column content">
                <div class="header-container">
                    <span class="header">
                        {{'exams'|translate}} ({{total}})
                    </span>
                </div>
            </div>
            <div class="column">
                <button (click)="add()" nz-button class="btn-custom">
                    <i nz-icon nzType="plus" nzTheme="outline"></i>
                    {{'new'|translate}}
                </button>
                <button (click)="refresh()" nz-button class="btn-custom">
                    <i nz-icon nzType="sync" nzTheme="outline"></i>
                    {{'refresh'|translate}}
                </button>
            </div>
        </div>
        <div class="block">
            <nz-table [nzShowTotal]="rangeTemplate" [nzFrontPagination]="false"
                (nzPageIndexChange)="pageIndexChanged($event)" (nzPageSizeChange)="pageSizeChanged($event)" #basicTable
                nzShowSizeChanger [nzLoading]="loading" [nzLoadingIndicator]="indicatorTemplate" [nzTotal]="total"
                [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzData]="items" [nzPageSizeOptions]="pageSizeOptions" nzTableLayout="fixed" [nzScroll]="{ x: '100%' }">
                <thead>
                    <tr class="v-align-top advanced-table-filter">
                        <th>
                            {{'name'|translate}}
                            <input [(ngModel)]="name" nz-input />
                        </th>
                        <th>
                            {{'exam.date'|translate}}
                            <nz-date-picker [(ngModel)]="examDate"></nz-date-picker>
                        </th>
                        <th>{{'evaluation.type'|translate}}</th>
                        <th>{{'exam.type'|translate}}</th>
                        <th>{{'question.type'|translate}}</th>
                        <th>{{'mark'|translate}}</th>
                        <th>{{'total.minutes'|translate}}</th>
                        <th>{{'extra.time'|translate}}</th>
                        <th>{{'status'|translate}}</th>
                        <th>{{'is.online'|translate}}</th>
                        <th>{{'download'|translate}}</th>
                        <th class="ta-right">
                            <div>
                                {{'action'|translate}}
                                <button (click)="search()" nz-button class="btn-custom">
                                    <i nz-icon nzType="sync" nzTheme="outline"></i>
                                    {{'search'|translate}}
                                </button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td class="fit-cell">{{ data.name }}</td>
                        <td class="fit-cell">{{ data.examDate|momentDate }}</td>
                        <td>{{ data.evaluationType?.name }}</td>
                        <td>{{ data.evaluationMethod?.name }}</td>
                        <td>{{ data.questionType?.name }}</td>
                        <td>{{ data.mark }}</td>
                        <td>{{ data.totalMinutes }}</td>
                        <td>{{ data.extraTime }}</td>
                        <td>{{ data.status?.name }}</td>
                        <td>{{ (data.isOnline ? 'yes' : 'no')|translate }}</td>
                        <td>
                            <a *ngIf="!data.isOnline" (click)="download(data)">{{'download'|translate}}</a>
                        </td>
                        <td class="action-column fit-cell">
                            <app-table-actions [data]="data" [buttons]="buttons"></app-table-actions>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
    <ng-template #indicatorTemplate><i nz-icon nzType="loading" style="font-size: 28px;"></i> </ng-template>
    <ng-template #rangeTemplate let-range="range" let-total> {{ range[0] }} - {{ range[1] }} of {{ total }}
        {{'items'|translate}} </ng-template>
</div>