<app-box-loader *ngIf="loading"></app-box-loader>
<div *ngIf="!loading" class="box">

    <div>
        <button (click)="back_to_list()" nz-button class="btn-custom">
            <i nz-icon nzType="left"></i>
            {{'back_to_list'|translate}}
        </button>
    </div>


    <nz-tabset class="form-tabset">
        <nz-tab *checkPermission="['license.manage', 'license.view']" nzTitle="{{'details'|translate}}">
            <ng-template nz-tab>
                <app-license-details></app-license-details>
            </ng-template>
        </nz-tab>
        <nz-tab *checkPermission="['license.manage', 'license.seat.list']" nzTitle="{{ 'issue.list'|translate }}">
            <ng-template nz-tab>
                <app-license-seats></app-license-seats>
            </ng-template>
        </nz-tab>
        <nz-tab *checkPermission="['license.manage', 'license.checkout.history']" nzTitle="{{ 'history'|translate }}">
            <ng-template nz-tab>
                <app-license-checkout-history></app-license-checkout-history>
            </ng-template>
        </nz-tab>
    </nz-tabset>
</div>