<app-box-loader *ngIf="loading"></app-box-loader>
<div *ngIf="!loading" class="box">
    <nz-tabset class="form-tabset">
        <nz-tab nzTitle="{{'details'|translate}}">
            <ng-template nz-tab>
                <app-license-details></app-license-details>
            </ng-template>
        </nz-tab>
        <nz-tab nzTitle="{{ 'seats'|translate }}">
            <ng-template nz-tab>
                <app-license-seats></app-license-seats>
            </ng-template>
        </nz-tab>
        <nz-tab nzTitle="{{ 'history'|translate }}">
        </nz-tab>
    </nz-tabset>
</div>