<br>
<div class="hotel-filter">
  <div nz-row>
    <div nz-col nzSpan="6">
      {{"From"|translate}}:
      <nz-date-picker nzPlaceHolder="{{ 'Select Date'|translate}}" [ngModel]="from"></nz-date-picker>
    </div>
    <div nz-col nzSpan="6">
      {{"To"|translate}}:
      <nz-date-picker nzPlaceHolder="{{ 'Select Date'|translate}}" [ngModel]="to"></nz-date-picker>
    </div>

    <div nz-col nzSpan="6">
      {{"Persons"|translate}}:
      <nz-select [(ngModel)]="personCount">
        <nz-option nzValue="1" nzLabel="{{'1'|translate}}"></nz-option>
        <nz-option nzValue="2" nzLabel="{{'2'|translate}}"></nz-option>
        <nz-option nzValue="3" nzLabel="{{'3'|translate}}"></nz-option>
        <nz-option nzValue="5" nzLabel="{{'4'|translate}}"></nz-option>
      </nz-select>
    </div>


    <div nz-col nzSpan="6" style="text-align: right;">
      <button (click)="search()" nz-button nzType="primary">{{"Search"|translate}}</button>
    </div>
  </div>
</div>

<br>
<div nz-row *ngIf="showTable">
  <div nz-col nzSpan="24">
    <nz-table [nzShowTotal]="rangeTemplate" [nzFrontPagination]="false" (nzPageIndexChange)="pageIndexChanged($event)"
      (nzPageSizeChange)="pageSizeChanged($event)" #basicTable nzShowSizeChanger [nzLoading]="loading" [nzTotal]="total"
      [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzData]="searchResult"
      [nzPageSizeOptions]="pageSizeOptions">
      <thead>
        <tr class="v-align-top advanced-table-filter">
          <th>{{"Name"|translate}}</th>
          <th>{{"Type"|translate}}</th>
          <th>{{"Beds"|translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.name }}</td>
          <td>{{ data.type }}</td>
          <td>{{ data.bedCount }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<!-- <div *ngIf="!showTable && !loading">
  {{'no_bed_found'|translate}}
</div> -->

<ng-template #rangeTemplate let-range="range" let-total> {{ range[0] }} - {{ range[1] }} of {{ total }} Items
</ng-template>