<div nz-row nzGutter="32">
    <div nz-col nzSpan="12" class="gutter-row" >

        <h2 class="title">জাতীয় সমাজসেবা একাডেমি পরিচিতি</h2>

        <div class="about">
            <p>
                প্রাথমিক পর্যায়ে ১৯৬৩ সালের ১ মার্চ ‘‘চাইল্ড ওয়েলফেয়ার সেন্টার” নামে ইউনিসেফের সহযোগিতায় সমাজকল্যাণ একাডেমির সূচনা। পরবর্তীতে ১ ফেব্র“য়ারি ১৯৬৭ খ্রি: সমাজকল্যাণ বিভাগের প্রশিক্ষণ কার্যক্রম সরকারিভাবে “সমাজকল্যাণ আন্তঃপ্রশিক্ষণ কেন্দ্র” নামক প্রতিষ্ঠানে পরিচালিত হতে থাকে। ১৯৮০-৮১ অর্থ বছরে দ্বিতীয় পঞ্চবার্ষিক পরিকল্পনার আওতায় আন্তঃপ্রশিক্ষণ কেন্দ্রকে ‘জাতীয় সমাজকল্যাণ একাডেমি’তে উন্নীত করা হয়। পরবর্তীতে প্রশাসনিক পুনর্বিন্যাস কমিটির সুপারিশ অনুযায়ী “জাতীয় সমাজকল্যাণ একাডেমি”র নাম পরিবর্তন করে “জাতীয় সমাজসেবা একাডেমি” হিসেবে নামকরণ হয়। ১৯৮৪ সালে এটি একটি স্থায়ী রাজস্ব খাতের প্রতিষ্ঠান হিসেবে স্বীকৃতি লাভ করে। 
            </p>
            <p>
                ১৯৯৫-৯৬ সালে গৃহীত “সমাজকল্যাণ কমপ্লেক্স” নামে উন্নয়ন প্রকল্পের আওতায় জাতীয় সমাজসেবা একাডেমির জন্য পৃথকভাবে বিভিন্ন অবকাঠামো নির্মাণ করা হয়। ঢাকার আগারগাঁওস্থ শেরে বাংলা নগরে নির্মিত “সমাজসেবা ভবন” চত্বরে জাতীয় সমাজসেবা একাডেমির নতুন নির্মিত ভবনে এর কার্যক্রম শুরু হয়। গত ১৬ সেপ্টেম্বর ২০০৪ জাতীয় ......... 
            </p>  
            
            <p>
                <a href="">আরো জানুন </a>
            </p>
        </div>
    </div>
    <div nz-col nzSpan="12">
        <h2>All See Recent Updated Notice</h2>

        <nz-tabset>
            <nz-tab nzTitle="News">
                <app-content-list hideTitle=true category="News"></app-content-list>
                <br><a (click)="viewcategory('News')">আরো পড়ুন <i nz-icon nzType="right" nzTheme="outline"></i></a>
                
            </nz-tab>
            <nz-tab nzTitle="Events">
                <app-content-list hideTitle=true category="Event"></app-content-list>
                <br><a (click)="viewcategory('Event')">আরো পড়ুন</a>
            </nz-tab>
            <nz-tab nzTitle="Notices">
                <app-content-list hideTitle=true category="Notice"></app-content-list>
                <br><a (click)="viewcategory('Notice')">আরো পড়ুন</a>
            </nz-tab>
          </nz-tabset>



    </div>
  </div>