/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

.logo {
    
    background: rgba(255, 255, 255, 0.2);
    margin: 0;
    float: left;
  }

  .header-menu {
    line-height: 64px;
  }

  .sider-menu {
    height: 100%;
    border-right: 0;
  }

  .inner-layout {
    padding: 0 24px 24px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  nz-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
  }

  .filter .ant-select {
    min-width: 200px !important;
  }
  
  .filter .ant-select:first-child {
    margin-right: 15px;
  }

  .ant-layout-header {
    background: #fff;
}
.top-menu {
  text-align: right;
}

.ant-layout-header .logo img {padding-right: 15px;}
.ant-layout-header .logo span {font-size: 17px;font-weight: bold;}
.ant-layout-header .top-menu {text-align: right;}
.ant-layout-header .top-menu {text-align: right;}

.top-menu .ant-menu-item
{
  font-weight: bold;
  top: 0;
}

.top-menu .ant-menu-item-active, 
.top-menu .ant-menu-item:hover,
.top-menu .ant-menu-item-selected {
    border-bottom: none;
    border-top: 2px solid #00909E;
    background-color: #e6f7ff;
    
}
.bottom-menu nz-header{
  background-color: #00909E;
  height:50px;
}
.bottom-menu nz-header .ant-menu{
  height: 100%;
  line-height: 1;
  background-color: #00909E;
  color: #fff;

  }

.bottom-menu .ant-menu .ant-menu-item{
  height: 100%;
  padding: 18px;
}


.bottom-menu .ant-menu-horizontal>.ant-menu-item-active, 
.bottom-menu .ant-menu-horizontal>.ant-menu-item:hover, 
.bottom-menu .ant-menu-horizontal>.ant-menu-submenu .ant-menu-submenu-title:hover {
    background-color: white;
    border: none;
    
}

.bottom-menu .ant-menu-horizontal>.ant-menu-item-selected 
{
    background-color: white;
    color:black;
    border: none;
}

.bottom-menu .ant-menu-item{padding:0 30px}

nz-header,nz-content,nz-footer {
  padding: 0 100px!important;
}


nz-content{
  min-height: 300px!important;
}
.page-title
{
  text-align: left;
  border-bottom: 1px solid gray;
  margin-top: 20px;
}
.page-content
{
  margin-top: 10px;
}
.flex{display: flex;}





