<app-box-loader *ngIf="loading"></app-box-loader>

<div class="box" [style.display]="loading ? 'none' : ''">
    <div class="block pad-v-12 pad-h-20 box-divider">
        <div class="content">
            <div class="header-container">
                <span class="header">
                    {{ 'checkout'|translate }}
                </span>
            </div>
        </div>
    </div>
    <div class="block bg-offset pad-t-20 pad-b-10 box-divider">
        <div class="content">
            <form nz-form [formGroup]="form">
                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="12">
                        <app-select-control disabled="true" mandatory="true" #statusSelect label="status" labelKey="name"
                            [formControl]="form.controls.status">
                        </app-select-control>
                    </div>
                </div>
                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'checkin'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <nz-date-picker nzDisabled="true" formControlName="checkinDate"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="8">
                        <app-select-control disabled="true" mandatory="true" #userSelect label="user" labelKey="fullName"
                            [formControl]="form.controls.participant">
                        </app-select-control>
                    </div>
                </div>
                <div nz-row [nzGutter]="24" *ngIf="mode == 'edit'">
                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'checkout'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <nz-date-picker [nzDisabledDate]="getValidCheckoutDate" (ngModelChange)="onCheckoutDate($event)" formControlName="checkoutDate"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'total.days'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <input type="number" nz-input formControlName="days"
                                    placeholder="{{'name'|translate}}" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'amount'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <input type="number" nz-input formControlName="amount"
                                    placeholder="{{'amount'|translate}}" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label>{{'room.or.bed'|translate}}</label>
                            </div>
                            <nz-form-control>
                                <nz-radio-group nzDisabled="true" (ngModelChange)="optionChange($event)" formControlName="roomOrBed">
                                    <label nz-radio-button nzValue="bed">{{'bed'|translate}}</label>
                                    <label nz-radio-button nzValue="room">{{'room'|translate}}</label>
                                </nz-radio-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="8">
                        <div class="field-container">
                            <button *ngIf="roomOrBed == 'room'" (click)="selectRoom()" nz-button class="btn-custom" disabled="true">
                                {{'select.x0'|translate:{x0: 'room'|translate} }}
                            </button>
                            <button *ngIf="roomOrBed == 'bed'" (click)="selectBed()" nz-button class="btn-custom" disabled="true">
                                {{'select.x0'|translate:{x0: 'bed'|translate} }}
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="additionalInfo">
                    <div nz-row [nzGutter]="24" class="field-container">
                        <div nz-col [nzSpan]="24" style="margin: 10px 0">
                            <span class="title-text">
                                {{'x0.information'|translate:{x0: roomOrBed}|uppercase }}
                            </span>
                        </div>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <div nz-col [nzSpan]="6">
                            <app-view [data]="additionalInfo.name" label="name"></app-view>
                        </div>
                        <div nz-col [nzSpan]="6">
                            <app-view [data]="additionalInfo.building.name" label="building"></app-view>
                        </div>
                        <div nz-col [nzSpan]="6">
                            <app-view [data]="additionalInfo.floor.name" label="floor"></app-view>
                        </div>
                        <div *ngIf="roomOrBed == 'bed'" nz-col [nzSpan]="6">
                            <app-view [data]="additionalInfo.room?.name" label="room"></app-view>
                        </div>
                        <div *ngIf="roomOrBed == 'room'" nz-col [nzSpan]="6">
                            <app-view [data]="additionalInfo.type?.name" label="type"></app-view>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="block footer pad-v-12 pad-h-20 box-divider">
        <div class="column">
            <button (click)="cancel()" nz-button class="btn-custom">
                {{'cancel'|translate}}
            </button>
            <button [nzLoading]="submitting" (click)="submit()" nz-button class="btn-custom" nzType="primary">
                {{'checkout'|translate}}
            </button>
        </div>
    </div>
    <ng-template #errorTemplate let-control>
        {{control?.errors?.message}}
    </ng-template>
</div>

<ng-template #modalFooter>
    <div class="pad-v-12 pad-h-20">
        <button nz-button class="btn-custom">Cancel</button>
    </div>
</ng-template>