<div class="homepage">


    <!-- Banner Block-->
    <div class="banner block">

        <app-banner count="2"></app-banner>

    </div>

    <!-- About US  Block-->

    <div class="about-us block">
        <div class="container">
            <app-about></app-about>
        </div>
    </div>

    <!-- course grid -->

    <div class="course-block gray">
        <div class="container">

            <div nz-row nzGutter="32">

                <div nz-col [nzXs]="24" [nzSm]="18" class="gutter-row">
                    <div nz-row>

                        <div nz-col nzSpan="12">
                            <h2 class="title">রানিং কোর্স সমূহ</h2>
                        </div>
                        <div nz-col nzSpan="12" style="text-align: right;">
                            <button nz-button nzType="primary" (click)="navigate('course')">সকল কোর্স </button>
                        </div>

                    </div>

                    <hr>
                    <div nz-row>


                        <div nz-col nzSpan="18">
                            <app-course status="RUNNING" count=6></app-course>
                        </div>

                    </div>

                </div>

                <div nz-col [nzXs]="24" [nzSm]="6" class="gutter-row">
                    <div nz-row>

                        <div nz-col nzSpan="24">
                            <h2 class="title">পরবর্তী কোর্স সমূহ </h2>
                        </div>

                    </div>

                    <hr>
                    <div nz-row>


                        <div nz-col [nzXs]="24" [nzSm]="18">
                            <app-course status="UPCOMING" count=2></app-course>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <!-- Hotel Block-->

    <div class="hotel block">
        <div class="container">
            <h2 class="title">হোটেল এ্যান্ড রুম</h2>
            <app-hotel-and-room></app-hotel-and-room>
        </div>
    </div>

    <div class="hotel block">
        <div class="container">
            <div nz-row>

                <div nz-col nzSpan="11">
                    <h2 class="title">{{'Home Room Facilities'|translate}}</h2>
                    <app-room-facilities :number="6"></app-room-facilities>
                </div>
                <div nz-col nzSpan="1"></div>

                <div nz-col nzSpan="12" style="text-align: right;">
                    <app-room-images count="4"></app-room-images>
                </div>

            </div>


        </div>
    </div>



    <!-- Library Block -->
    <div class="library block gray">
        <div class="container">

            <h2 class="title">আমাদের লাইব্রেরী</h2>
            <app-library></app-library>

        </div>
    </div>

    <!-- FAQ Block -->

    <div class="faq block ">
        <div class="container">

            <app-faq></app-faq>

        </div>
    </div>


</div>