/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.maateen.me/solaiman-lipi/font.css');
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .col {
      display: flex;
      flex: 1;
      align-items: center;
      height: 100%;
    }
  }

.justify-content-end {
    justify-content: flex-end !important;
}

.title-text {
    font-weight: 500;
    font-size: 14px;
}

/* You can add global styles to this file, and also import other style files */

@mixin box-shadow-m {
  box-shadow: 0 7px 14px 0 rgba(60,66,87, 0.12), 0 3px 6px 0 rgba(0,0,0, 0.12);
}

@mixin error-color {
  color: #cd3d64;
}

@mixin edit-color {
  color: #5873d6;
}

@mixin tag-text-color {
  color: #395260;
}

@mixin color-gray {
  color: #697386;
}

// @font-face {
//   font-family: kalpurush;
//   src: url(assets/fonts/kalpurush.ttf);
// }

// .app-layout.bn {
//   font-family: kalpurush !important;
// }

// body {
//   color: #3c4257;
//   background-color: #e3e8ee;
// }

span.ant-table-column-title {
  text-transform: uppercase;
  font-size: 13px;
}

.ant-table {
  .action-column {
      text-align: right;
      button {
        margin-left: 5px;
      }
      >span {
          cursor: pointer;
          margin-left: 10px;
          font-size: 16px;
      }
  }
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 12px 16px;
}

.ant-table-thead > tr:first-child > th:first-child,
.ant-table-thead > tr:first-child > th:last-child {
  border-radius: 0;
}

app-layout-default .menu-sidebar {
  box-shadow: none;
  margin-top: 24px;
}

.ant-layout-sider, .ant-menu, .ant-menu-submenu > .ant-menu {
  background: none;
}

@mixin btn-shadow {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.12) 0px 2px 5px 0px;
}

@mixin btn-shadow-hover {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.12) 0px 3px 9px 0px, rgba(60, 66, 87, 0.12) 0px 2px 5px 0px;
}

@mixin btn-shadow-primary {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgb(84, 105, 202) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.12) 0px 2px 5px 0px
}

@mixin btn-shadow-primary-hover {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgb(84, 105, 202) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.12) 0px 3px 9px 0px, rgba(60, 66, 87, 0.12) 0px 2px 5px 0px
}

// Custom stripe button style
.ant-pagination {
  li {
      font-weight: 500;
      height: 28px;
      line-height: 28px;
      @include btn-shadow;
      a {
          display: flex !important;
          align-items: center;
          justify-content: center;
      }
  }
  .ant-pagination-item {
      border: none;
  }
  .ant-pagination-total-text {
    box-shadow: none;
  }
}

.ant-pagination-disabled a, .ant-pagination-disabled:hover a, .ant-pagination-disabled:focus a, .ant-pagination-disabled .ant-pagination-item-link, .ant-pagination-disabled:hover .ant-pagination-item-link, .ant-pagination-disabled:focus .ant-pagination-item-link {
  border-color: unset;
}
.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
  border: unset;
}

.btn-custom {
  font-weight: 500;
  border: none;
  height: 28px;
  padding: 0 8px;
  &.ant-btn-default {
      @include btn-shadow
  }
  &.ant-btn-default:hover {
      @include btn-shadow-hover;
  }
  &.ant-btn-default {
      color: rgb(60, 66, 87);
  }

  &.ant-btn-primary {
      @include btn-shadow-primary;
  }
  &.ant-btn-primary:hover {
      @include btn-shadow-primary-hover;
  }
}

.pad-10{
  padding: 10px;
}
.pad-t-20 {
  padding-top: 20px;
}

.pad-t-15 {
  padding-top: 15px;
}

.pad-b-10 {
  padding-bottom: 10px;
}

.pad-v-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pad-v-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pad-h-20 {
  padding-right: 20px;
  padding-left: 20px;
}

.pad-r-20 {
  padding-right: 20px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.no-border {
  td {
      border: none !important;
  }
  border: none;
}

.box-divider:not(:last-child) {
  box-shadow: inset 0 -1px #e3e8ee;
}

.bg-white {
  background-color: #fff;
}

.bg-offset {
  background-color: #f7fafc !important;
}

.box {
  border-radius: 5px;
  padding-bottom: .1px;;
  margin: 0 0 15px 0;
  @include box-shadow-m;
  .block {
      background-color: #fff;
      &:first-child {
          border-radius: 5px 5px 0 0;
      }
      &:last-child {
          border-radius:  0 0 5px 5px;
      }
      .content {
          .header-container {
              display: flex;
              flex-direction: column;
              .header {
                  font-size: 17px;
                  line-height: 28px;
                  font-weight: 500;
              }
              .header-description {
                  font-size: 14px;
                  line-height: 18px;
                  font-weight: normal;
              }
          }
      }

      .field-container {
          padding: 0 20px 10px 20px;
          margin: 0;
          nz-select {
            padding: 0;
            font-weight: normal;
          }
          input, nz-select {
              max-width: 350px;
          }
          textarea {
              max-width: 450px;
              margin-top: 3px;
          }
          label {
              font-weight: 500;
              color: #1a1f36;
          }
      }

      &.footer,
      &.header {
          display: flex;
          align-items: center;
          .column {
              display: flex;
              width: 100%;
              align-items: center;
              &:last-child {
                  justify-content: flex-end;
              }
              button:not(:first-child) {
                  margin-left: 8px;
              }
          }

      }

      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        background: #5469d4;
        color: #fff !important;
      }
  }
}

input[nz-input]:hover,
input[nz-input]:focus,
nz-picker input:hover,
nz-picker input:focus,
nz-select .ant-select-selection:hover,
nz-select .ant-select-selection:focus,
textarea:hover,
textarea:focus {
  border: 1px solid #d9d9d9 !important;
}

.shadow-m {
  @include box-shadow-m;
}

.m-24 {
  margin: 24px;
}

.font-18 {
  font-size: 18px;
}

.font-28 {
  font-size: 28px;
}

.font-12 {
  font-size: 12px;
}

.space-between {
  justify-content: space-between;
}

nz-header .ant-badge-count {
  min-width: 12px;
  height: 12px;
  padding: 0 3px;
  font-size: 9px;
  line-height: 12px;
  background-color: #5873d6;
}

.cursor-pointer {
  cursor: pointer;
}

.ant-spin-nested-loading > div > .ant-spin {
  max-height: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 500;
}

.fn-14 {
  font-size: 14px;
}

.mb-14 {
  margin-bottom: 14px;
}

.margin-right-12 {
  margin-right: 12px;
}

.fs-i {
  font-style: italic;
}

.center {
  text-align: center;
}

.hide-table-placeholder {
  .ant-table-placeholder {
      display: none !important;
  }
}

.ta-right {
  text-align: right !important;
}

.delete {
  :hover {
      @include error-color
  }
}

.edit {
  :hover {
      @include edit-color
  }
}

.display-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.color-gray {
  @include color-gray;
}

.v-divider {
  box-shadow: inset -1px 0 #e3e8ee;
}

.header-bottom {
  .title {
      @include color-gray;
      padding-bottom: 5px;
  }
  .column {
      padding: 0 24px;
      &:first-child {
          padding-left: 0;
      }
      &:last-child {
          padding-right: 0;
      }
  }
}

.form-tabset {
  .ant-tabs-bar {
    margin: 0;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
  }
  .ant-tabs-nav {
    .ant-tabs-tab {
      padding: 15px 20px;
      font-size: 17px;
    }
    .ant-tabs-tab-active {
      font-weight: normal;
    }
  }
}

.form.custom-tabs {
  .ant-radio-button-wrapper {
    &:first-child {
      border-radius: 4px 0 0 0;
    }
    &:last-child {
      border-radius: 0 4px 0 0;
    }
  }
}

.custom-tabs {
  border-radius: 5px !important;
  nz-radio-group {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      .ant-radio-button-wrapper {
          border: none;
          height: unset;
          padding: 10px 15px;
          width: 100%;
          display: flex;
          justify-content: center;
          font-weight: 600;
          &:not(:last-child){
              box-shadow: inset -1px 0 #e3e8ee;
          }
          background-color: #f7fafc;
          &:not(:first-child):before {
              display: none !important;
          }
      }
      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
          border-bottom: 3px solid;
          background-color: #fff;
          &:not(:last-child) {
              box-shadow: inset -1px 0 #e3e8ee !important;
          }
          &:last-child {
              box-shadow: -1px 0 #e3e8ee !important;
          }
      }
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ribbon {
  position: absolute!important;
  top: -5px;
  left: -5px;
  overflow: hidden;
  width: 96px;
  height: 94px;
  .ribbon-inner {
      text-align: center;
      color: #fff;
      top: 24px;
      left: -31px;
      width: 135px;
      padding: 3px;
      position: relative;
      transform: rotate(-45deg);
      &:after, &:before {
          content: "";
          border-top: 5px solid transparent;
          border-left: 5px solid;
          border-left-color: inherit;
          border-right: 5px solid transparent;
          border-bottom: 5px solid;
          border-bottom-color: inherit;
          position: absolute;
          top: 20px;
          transform: rotate(-45deg);
      }
      &:after {
          right: -3px;
          border-bottom: 3px solid transparent;
      }
      &:before {
          left: 0;
          border-left: 2px solid transparent;
      }
  }
  .ribbon-open {
      background-color: #268ddd;
      border-color: #1c72b4;
  }
}

.border-radius-5 {
  border-radius: 5px !important;
}

.box {
  &.box-loader {
      .box-loader-inner {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: calc(30vh);
          i {
              @include edit-color;
          }
      }
  }
}

.ant-modal-header,
.ant-modal-body,
.ant-modal-footer {
  padding: 0;
}

.ant-modal-wrap,
.ant-modal-mask {
  z-index: 999 !important;
}

.status-badge {
  .ant-tag {
      padding-left: 8px;
      padding-right: 8px;
      border-radius: 10px;
      border: none;
      font-weight: 500;     
  }
  &.paid, &.succeed {
      .ant-tag {
          background-color: #d6ecff;
          color: #3d4eac;
      }
  }
  &.failed, &.due {
      .ant-tag {
          background-color: #f8e5b9;
          color: #983705;
      }
  }
  &.unpaid {
      .ant-tag {
          background-color: #e3e8ee;
          color: #4f566b;
      }
  }
}

.fit-cell {
  width: 1%;
  white-space: nowrap;
}

.v-align-top {
  vertical-align: top;
}

.advanced-table-filter {
  input, nz-select, button {
    height: 27px;
    margin-top: 5px;
    font-weight: normal;
  }
  .ant-select-selection--single {
    height: 29px;
  }
  nz-select {
    text-transform: none;
    padding: 0;
    min-width: 134px;
    max-width: 134px;
  }
  .ant-select-selection__rendered {
    line-height: 27px;
  }
}

.photo-uploader {
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    .placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
  .container, img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .overlay {
    position: absolute;
    height: 152px;
    width: 152px;
    opacity: 0;
    transition: 0.3s ease;
    background-color: #fff;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center; 
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .icon {
    color: black;
    font-size: 22px;
  }
}

.rectangular-uploader {
  display: flex;
  justify-content: center;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    .placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
  .container, img {
    width: 100%;
    height: 150px;
  }

  .overlay {
    position: absolute;
    height: 152px;
    width: 152px;
    opacity: 0;
    transition: 0.3s ease;
    background-color: #fff;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center; 
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .icon {
    color: black;
    font-size: 22px;
  }
}
.ant-result {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.capitalize {
  text-transform: capitalize;
}

label {
  &.required {
    &::after {
      content: '*';
      color: #cd3d64;
    }
  }
}

.dynamic-delete-button {
  cursor: pointer;
  position: absolute;
  top: -1px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
  margin-left: 5px;
}

.ck.ck-content {
  font-size: 13px;
  line-height: 1.0;
}

.form-repeat-item {
  // border: 1px solid #e8e8e8;
  margin: 0 20px 20px;
  border-radius: 5px;
  box-shadow: 0 7px 14px 0 rgba(60, 66, 87, 0.12), 0 3px 6px 0 rgba(0, 0, 0, 0.12);
}

.form-repeat-item2 {
  border: 1px solid #ccc;
  margin: 0 20px 20px;
  border-radius: 5px;
}

.ant-tabs-nav-container {
  padding-right: 15px;
  padding-left: 15px;
  .ant-tabs-tab-prev, .ant-tabs-tab-next  {
    width: 15px;
    height: 100%;
    opacity: 1;
    pointer-events: auto;
  }
}

.ck-content{
  height:200px;
}

.box .block .field-container input {
  max-width: 100%;
}

body{
  font-family: 'SolaimanLipi', sans-serif;
}

.login-form {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  form {
      max-width: 300px;
      width: 100%;
      .login-form-button {
          width: 100%;
      }
      .login-form-forgot {
          float: right;
      }
  }
  .logo {
      img {
          width: 100px;
      }
      display: flex;
      align-items: center;
      flex-direction: column;
  }
}