<div class="course1">

  <div class="page-title" *ngIf="showTitle">
    <h2>Contents - {{category}}</h2>
  </div>

  <div class="">


    <div *ngIf="items">
      <div *ngFor="let item of items" class="contents-item">

        <div nz-row [nzGutter]="16">

          <div nz-col class="gutter-row" [nzSpan]="6">

            <img class="image" [src]="item.imageUrl" alt="{{item.name}}" >

          </div>
          <div nz-col class="gutter-row" [nzSpan]="18">
            <div class="inner-box">
              <h3>{{item.name}}</h3>
             <div [innerHTML]="item.body"></div>
             <a (click)="view(item)">See More..</a>
            </div>
          </div>

        </div>
       

      </div>

    </div>

  </div>
</div>