<nz-footer class="footer">
    <div class="top">
        
    
    <div nz-row [nzGutter]="16">

        
        <div nz-col class="gutter-row" [nzSpan]="6">
            জাতীয় সমাজসেবা একাডেমি প্রশিক্ষণ ব্যবস্থাপনা 
            
        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">

            <ul nz-menu nzMode="vertical" class="">

                <li (click)="navigate('/')" nz-menu-item nzSelected>হোম</li>
                <li (click)="navigate('faq')" nz-menu-item>প্রশ্ন ও উত্তর</li>
                <li  nz-menu-item>লগইন</li>
               
            </ul>


        </div>
        <div nz-col class="gutter-row" [nzSpan]="5">

            <ul nzTheme="light" nz-menu nzMode="vertical" class="">
                <li (click)="navigate('/')" nz-menu-item nzSelected>হোম</li>
                <li (click)="navigate('/page/about-us')"  nz-menu-item>আমাদের সম্পর্কে</li>
                <li (click)="navigate('course')" nz-menu-item>প্রশিক্ষণ কোর্স</li>
              </ul>

        </div>
        <div nz-col class="gutter-row" [nzSpan]="5">
            <ul nzTheme="light" nz-menu nzMode="vertical" class="">
                <li  nz-menu-item>পহোটেল এ্যান্ড রুম</li>
                
                <li (click)="navigate('/page/contact')"  nz-menu-item>যোগাযোগ</li>
              </ul>


        </div>
        <div nz-col class="gutter-row" [nzSpan]="4">
            <ul nzTheme="light" nz-menu nzMode="vertical" class="">
                <li  nz-menu-item >
                    <a href="https://ng.ant.design" target="_blank" rel="noopener noreferrer">Folllow Us on Facebook</a>
                </li>
                <li  nz-menu-item > 
                    <a href="https://ng.ant.design" target="_blank" rel="noopener noreferrer">Folllow Us on Twitter</a>
                </li>
                
              </ul>
        </div>
    </div>

</div>

<hr>
<div class="bottom">


    <div nz-row [nzGutter]="16">

        <div nz-col class="gutter-row" [nzSpan]="8">
            বাস্তবায়নে ও কারিগরী সহায়তায় <br>
            <img style="margin-left: 50px;" height="30" src="../../assets/images/logo.jpg" alt="">

        </div>
        <div nz-col class="gutter-row text-center" [nzSpan]="8">
            জরুরী প্রয়োজনে <br>
            625825662456211 <br>
            dsss.support@gov.com
        </div>
        <div nz-col class="gutter-row last text-center" [nzSpan]="8">
            কারিগরি সহায়তায় <br>
            <img style="margin-left: 50px;" height="30" src="../../assets/images/softbd.png" alt="">
        </div>

    </div>

</div>


</nz-footer>