<app-box-loader *ngIf="loading"></app-box-loader>

<div class="box" [style.display]="loading ? 'none' : ''">

    <div class="block pad-v-12 pad-h-20 box-divider">
        <div class="content">
            <div class="header-container">
                <span class="header">
                    <span *ngIf="mode=='add'">
                        {{ 'create.a.x0'|translate:{x0: 'license'|translate|lowercase} }}
                    </span>
                    <span *ngIf="mode=='edit'">
                        {{ 'update.a.x0'|translate:{x0: 'license'|translate|lowercase} }}
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="block bg-offset pad-t-20 pad-b-10 box-divider">
        <div class="content">
            <form nz-form [formGroup]="form">

                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'name'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <input type="text" nz-input formControlName="name" placeholder="{{'name'|translate}}" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'product_key'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <input type="text" nz-input formControlName="productKey"
                                    placeholder="{{'product_key'|translate}}" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'license.seats'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <input type="number" nz-input formControlName="seats"
                                    placeholder="{{'license.seats'|translate}}" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>


                </div>


                <div nz-row [nzGutter]="24">


                    <div nz-col [nzSpan]="8">
                        <app-select-control #categorySelect mandatory="true" label="category"
                            [formControl]="form.controls.categoryId">
                        </app-select-control>
                    </div>

                    <div nz-col [nzSpan]="8">
                        <app-select-control #supplierSelect mandatory="true" label="supplier"
                            [formControl]="form.controls.supplierId">
                        </app-select-control>
                    </div>

                    <div nz-col [nzSpan]="8">
                        <app-select-control mandatory="true" #manufacturerSelect label="manufacturer"
                            [formControl]="form.controls.manufacturerId">
                        </app-select-control>
                    </div>


                </div>


                <div nz-row [nzGutter]="24">

                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'purchase_cost'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <nz-input-group nzSuffix="{{'tk'|translate}}">
                                    <input size="small" type="number" nz-input formControlName="purchaseCost"
                                        placeholder="{{'purchase_cost'|translate}}" />
                                </nz-input-group>
                            </nz-form-control>


                        </nz-form-item>
                    </div>

                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'purchase_date'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <nz-date-picker formControlName="purchaseDate"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'expire_date'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <nz-date-picker formControlName="expireDate"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>


                </div>

                <div nz-row [nzGutter]="24">

                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'licensed_to_name'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <input type="text" nz-input formControlName="licenseToName"
                                    placeholder="{{'licensed_to_name'|translate}}" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'licensed_to_email'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <input type="text" nz-input formControlName="licenseToEmail"
                                    placeholder="{{'licensed_to_email'|translate}}" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label>{{'order_number'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <input type="text" nz-input formControlName="orderNumber"
                                    placeholder="{{'order_number'|translate}}" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>


                </div>

                <div nz-row [nzGutter]="24">



                    <div nz-col [nzSpan]="8">
                        <app-select-control #locationSelect labelKey="officeName" label="location"
                            [formControl]="form.controls.locationId">
                        </app-select-control>
                    </div>


                    <div nz-col [nzSpan]="8">
                        <nz-form-item class="field-container">
                            <div>
                                <label>{{'note'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <textarea nz-input formControlName="note" placeholder="{{'note'|translate}}">
                                </textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col [nzSpan]="8">
                        <nz-form-control>
                            <span nz-checkbox formControlName="isActive">
                                <span>{{'active'|translate}}</span>
                            </span>
                        </nz-form-control>
                    </div>


                </div>



            </form>
        </div>
    </div>
    <div class="block footer pad-v-12 pad-h-20 box-divider">
        <div class="column">
            <button (click)="cancel()" nz-button class="btn-custom">
                {{'cancel'|translate}}
            </button>
            <button [nzLoading]="submitting" (click)="submit()" nz-button class="btn-custom" nzType="primary">
                <span *ngIf="mode=='add'">
                    {{'create'|translate}}
                </span>
                <span *ngIf="mode=='edit'">
                    {{'update'|translate}}
                </span>
            </button>
        </div>
    </div>
    <ng-template #errorTemplate let-control>
        {{control?.errors?.message}}
    </ng-template>
</div>