<app-box-loader *ngIf="loading"></app-box-loader>
<div *ngIf="!loading" class="box">
    <div class="block pad-v-12 pad-h-20 box-divider">
        <div class="content">
            <div class="header-container">
                <span class="header">
                    {{ 'update.a.x0'|translate:{x0: 'profile'|translate|lowercase} }}
                </span>
            </div>
        </div>
    </div>
    <div class="block bg-offset pad-v-12 pad-h-20 box-divider">
        <div class="content">
            <form nz-form [formGroup]="form">

                <!-- Personal Information -->
                <div>
                    <div nz-row [nzGutter]="24">
                        <div nz-col [nzSpan]="24" style="margin: 10px 0;">
                            <span class="title-text">
                                {{'personal.information'|translate|uppercase}}
                            </span>
                        </div>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <div nz-col [nzSpan]="8">
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'full.name'|translate}}</label>
                                    </div>
                                    <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                        <input type="text" nz-input formControlName="fullName"
                                            placeholder="{{'full.name'|translate}}" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'gender'|translate }}</label>
                                    </div>
                                    <nz-form-control>
                                        <nz-select class="btn-custom" formControlName="gender" nzShowSearch nzAllowClear
                                            [nzPlaceHolder]="'select.x0'|translate:{x0: 'gender'|translate|lowercase}">
                                            <nz-option *ngFor="let p of genders" [nzLabel]="p.name" [nzValue]="p.id">
                                            </nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'nid'|translate}}</label>
                                    </div>
                                    <nz-form-control>
                                        <input type="text" nz-input formControlName="nid"
                                            placeholder="{{'nid'|translate}}" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'password'|translate}}</label>
                                    </div>
                                    <nz-form-control>
                                        <input type="text" nz-input formControlName="password"
                                            placeholder="{{'password'|translate}}" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'confirm.password'|translate}}</label>
                                    </div>
                                    <nz-form-control>
                                        <input type="text" nz-input formControlName="confirmPassword"
                                            placeholder="{{'confirm.password'|translate}}" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-col [nzSpan]="8">
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'date.of.birth'|translate }}</label>
                                    </div>
                                    <nz-form-control>
                                        <nz-date-picker formControlName="dateOfBirth"></nz-date-picker>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'blood.group'|translate }}</label>
                                    </div>
                                    <nz-form-control>
                                        <nz-select class="btn-custom" formControlName="bloodGroup" nzShowSearch
                                            nzAllowClear
                                            [nzPlaceHolder]="'select.x0'|translate:{x0: 'blood.group'|translate|lowercase}">
                                            <nz-option *ngFor="let p of bloodGroups" [nzLabel]="p.name"
                                                [nzValue]="p.id">
                                            </nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'marital.status'|translate }}</label>
                                    </div>
                                    <nz-form-control>
                                        <nz-select class="btn-custom" formControlName="maritalStatus" nzShowSearch
                                            nzAllowClear
                                            [nzPlaceHolder]="'select.x0'|translate:{x0: 'marital.status'|translate|lowercase}">
                                            <nz-option *ngFor="let p of maritalStatus" [nzLabel]="p.name"
                                                [nzValue]="p.id">
                                            </nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'religion'|translate }}</label>
                                    </div>
                                    <nz-form-control>
                                        <nz-select class="btn-custom" formControlName="religion" nzShowSearch
                                            nzAllowClear
                                            [nzPlaceHolder]="'select.x0'|translate:{x0: 'religion'|translate|lowercase}">
                                            <nz-option *ngFor="let p of religions" [nzLabel]="p.name" [nzValue]="p.id">
                                            </nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-col [nzSpan]="8">

                            <div (click)="photo.click()" class="photo-uploader cursor-pointer">
                                <div class="container">
                                    <input (change)="handlePhotoChange($event)" #photo type="file" style="display: none;">
                                    <div class="placeholder" *ngIf="!photoLoading && !photoUrl">
                                        <i nz-icon [nzType]="photoLoading ? 'loading' : 'plus'"></i>
                                        <span>{{'choose.photo'|translate}}</span>
                                    </div>
                                    <i *ngIf="photoLoading" nz-icon nzType="loading" style="font-size: 24px;"></i> 
                                    <img *ngIf="!photoLoading && photoUrl" [src]="photoUrl" class="photo" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Personal Information End -->

                <!-- Employment Statement -->
                <div>
                    <div nz-row [nzGutter]="24">
                        <div nz-col [nzSpan]="24" style="margin: 10px 0">
                            <span class="title-text">
                                {{'employment.statement'|translate|uppercase}}
                            </span>
                        </div>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <div nz-col [nzSpan]="12">
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'mobile'|translate}}</label>
                                    </div>
                                    <nz-form-control>
                                        <input type="text" nz-input formControlName="mobile"
                                            placeholder="{{'mobile'|translate}}" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'date.of.joining'|translate }}</label>
                                    </div>
                                    <nz-form-control>
                                        <nz-date-picker formControlName="joiningDate"></nz-date-picker>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Employment Statement End -->

                <!-- Office Name & Address -->
                <div>
                    <div nz-row [nzGutter]="24">
                        <div nz-col [nzSpan]="24" style="margin: 10px 0">
                            <span class="title-text">
                                {{'office.name.and.address'|translate|uppercase}}
                            </span>
                        </div>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <div nz-col [nzSpan]="12">
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'office.name'|translate}}</label>
                                    </div>
                                    <nz-form-control>
                                        <input type="text" nz-input formControlName="officeName"
                                            placeholder="{{'office.name'|translate}}" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'address.line.x0'|translate:{x0: 1} }}</label>
                                    </div>
                                    <nz-form-control>
                                        <input type="text" nz-input formControlName="officeAddressLine1"
                                            placeholder="{{'address.line.x0'|translate:{x0: 1} }}" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'address.line.x0'|translate:{x0: 2} }}</label>
                                    </div>
                                    <nz-form-control>
                                        <input type="text" nz-input formControlName="officeAddressLine2"
                                            placeholder="{{'address.line.x0'|translate:{x0: 2} }}" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Office Name & Address End -->

                <!-- Educational Qualifications -->
                <div>
                    <div nz-row [nzGutter]="24">
                        <div nz-col [nzSpan]="24" style="margin: 10px 0">
                            <span class="title-text">
                                {{'highest.educational.qualifications'|translate|uppercase}}
                            </span>
                        </div>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <div nz-col [nzSpan]="8">
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'degree'|translate }}</label>
                                    </div>
                                    <nz-form-control>
                                        <input type="text" nz-input formControlName="educationDegree"
                                            placeholder="{{'degree'|translate }}" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'passing.year'|translate }}</label>
                                    </div>
                                    <nz-form-control>
                                        <input type="text" nz-input formControlName="educationPassingYear"
                                            placeholder="{{'passing.year'|translate }}" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-col [nzSpan]="8">
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'university'|translate }}</label>
                                    </div>
                                    <nz-form-control>
                                        <input type="text" nz-input formControlName="educationUniversity"
                                            placeholder="{{'university'|translate }}" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'result'|translate }}</label>
                                    </div>
                                    <nz-form-control>
                                        <input type="text" nz-input formControlName="educationResult"
                                            placeholder="{{'result'|translate }}" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-col [nzSpan]="8">
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'department'|translate }}</label>
                                    </div>
                                    <nz-form-control>
                                        <input type="text" nz-input formControlName="educationDepartment"
                                            placeholder="{{'department'|translate }}" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Educational Qualifications End -->

                <!-- Contact Details -->
                <div>
                    <div nz-row [nzGutter]="24">
                        <div nz-col [nzSpan]="24" style="margin: 10px 0">
                            <span class="title-text">
                                {{'contact.details'|translate|uppercase}}
                            </span>
                        </div>
                    </div>
                    <div nz-row [nzGutter]="24">
                        <div nz-col [nzSpan]="12">
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'address.line.x0'|translate:{x0: 1} }}</label>
                                    </div>
                                    <nz-form-control>
                                        <input type="text" nz-input formControlName="contactAddressLine1"
                                            placeholder="{{'address.line.x0'|translate:{x0: 1} }}" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'address.line.x0'|translate:{x0: 2} }}</label>
                                    </div>
                                    <nz-form-control>
                                        <input type="text" nz-input formControlName="contactAddressLine2"
                                            placeholder="{{'address.line.x0'|translate:{x0: 2} }}" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                        <div nz-col [nzSpan]="12">
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'upazila'|translate }}</label>
                                    </div>
                                    <nz-form-control>
                                        <input type="text" nz-input formControlName="contactUpazila"
                                            placeholder="{{'upazila'|translate }}" />
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                            <div nz-row [nzGutter]="24">
                                <nz-form-item class="field-container">
                                    <div>
                                        <label>{{'district'|translate }}</label>
                                    </div>
                                    <nz-form-control>
                                        <nz-select class="btn-custom" formControlName="contactDistrict" nzShowSearch
                                            nzAllowClear
                                            [nzPlaceHolder]="'select.x0'|translate:{x0: 'district'|translate|lowercase}">
                                            <nz-option *ngFor="let p of districts" [nzLabel]="p.name" [nzValue]="p.id">
                                            </nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Contact Details End -->

            </form>
        </div>
    </div>
    <div class="block footer pad-v-12 pad-h-20 box-divider">
        <div class="column">
            <button (click)="cancel()" nz-button class="btn-custom">
                {{'cancel'|translate}}
            </button>
            <button [nzLoading]="submitting" (click)="submit()" nz-button class="btn-custom" nzType="primary">
                {{'update'|translate}}
            </button>
        </div>
    </div>
    <ng-template #errorTemplate let-control>
        {{control?.errors?.message}}
    </ng-template>
</div>