<app-box-loader *ngIf="loading"></app-box-loader>

<div *ngIf="!loading" class="box">
    <div class="block pad-v-12 pad-h-20 box-divider">
        <div class="content">
            <div class="header-container">
                <span class="header">
                    <span *ngIf="mode=='add'">
                        {{ 'create.a.x0'|translate:{x0: 'department'|translate|lowercase} }}
                    </span>
                    <span *ngIf="mode=='edit'">
                        {{ 'update.a.x0'|translate:{x0: 'department'|translate|lowercase} }}
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="block bg-offset pad-t-20 pad-b-10 box-divider">
        <div class="content">
            <form nz-form [formGroup]="form">

                <div nz-row [nzGutter]="24">
                    <div nz-col [nzSpan]="12">
                        <nz-form-item class="field-container">
                            <div>
                                <label class="required">{{'name'|translate}}</label>
                            </div>
                            <nz-form-control nzHasFeedback [nzErrorTip]="errorTemplate">
                                <input type="text" nz-input formControlName="name"
                                    placeholder="{{'name'|translate}}" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="block footer pad-v-12 pad-h-20 box-divider">
        <div class="column">
            <button (click)="cancel()" nz-button class="btn-custom">
                {{'cancel'|translate}}
            </button>
            <button [nzLoading]="submitting" (click)="submit()" nz-button class="btn-custom" nzType="primary">
                <span *ngIf="mode=='add'">
                    {{'create'|translate}}
                </span>
                <span *ngIf="mode=='edit'">
                    {{'update'|translate}}
                </span>
            </button>
        </div>
    </div>
    <ng-template #errorTemplate let-control>
        {{control?.errors?.message}}
    </ng-template>
</div>